body {
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

#body .global-buttons {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#body .global-buttons>.button {
  display: flex !important;
  margin: 10px;
  align-items: center;
}

#body .global-buttons button {
  margin: 0;
  color: rgb(100, 100, 100) !important;
  box-shadow: 0 0 0 2px rgb(100, 100, 100) inset !important;
}

#body .global-buttons button.active,
#body .global-buttons button:hover {
  color: rgb(255, 255, 255) !important;
  box-shadow: 0 0 0 2px rgb(255, 255, 255) inset !important;
}

#body .popup-button {
  position: absolute;
  left: 100%;
}

#body .popup {
  display: flex !important;
  position: absolute;
  left: 100%;
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgb(20, 20, 20);
  align-items: center;
  gap: .5rem;
  white-space: nowrap;
}

#body .popup a {
  display: inline-flex;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 12px;
}

#body .popup.error {
  border: 2px solid #d65e5e;
}

#body .table-container {
  width: calc(200px + 12 * 100px + 200px);
  margin: 0 auto;
  padding-bottom: 4rem;
}

#body .column {
  padding: 0;
}

#body .column-title {
  position: sticky;
  top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(40, 40, 40);
  background-color: rgb(20, 20, 20);
  z-index: 1;
}

#body .column-title>.column {
  padding: 0 5px;
}

#body .column-title input {
  width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255) !important;
  padding-bottom: 3px !important;
  margin-bottom: -3px;
}

#body .row-title {
  flex: 0 0 200px;
}

#body .centered input {
  text-align: center;
}

#body .task-icon {
  height: 2rem;
  margin-right: 5px;
  vertical-align: -0.5rem;
}

#body .check {
  height: 2rem;
  width: 2rem;
  padding: 0.25rem 0;
  margin: 0 5px;
  vertical-align: middle;
  background-color: transparent;
}

#body .check:hover {
  background-color: rgb(40, 40, 40);
}

#body .check>i {
  vertical-align: middle;
  pointer-events: none;
}

#body .rest {
  position: relative;
  top: 0.6rem;
  height: 0;
  width: fit-content;
  padding: 5px 0;
  margin: -5px auto;
}

#body .rest.editing {
  cursor: pointer;
}

#body .rest-bar {
  display: inline-block;
  position: relative;
  top: -1.2rem;
  height: 1px;
  width: 0.6rem;
}

#body .rest-bar:nth-child(odd) {
  margin-left: 2px;
}

#body .rest-bar:nth-child(even) {
  margin-right: 2px;
}
